.body {
    font-family: 'Inter', sans-serif;
}

.links-header{
    color: white !important;
}

a.links-header:hover {
    color: #0C3A52 !important;

}

.logo-banner {
    max-width: 100px;
    max-height: 250px !important;
    margin-bottom: 45px;
}

.banner-bg {
    background-image: url("/assets/img-banner/bg-banner.png");
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    background-size: cover;
}

.teste {
    border: 5px solid red;
}

.banner-nav {
    justify-content: flex-start;
    display: flex-start;
    text-align: justify;
}

/* =================================================================
Footer
*/

.img-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-footer {
    background-color: #0B0D17;
}

.ul-color {
    color: #FFF;
}

/* =================================================================
Intermediate Section
*/
.font-cards {
    font-size:14px;
}
